.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: aqua;
}

.button-open {
  border: solid 2px rgba(0, 0, 0, 0.5);
}

.dropdown-content {
  background-color: blue;
  display: none;
  pointer-events: none;
  transform: translateY(-5%);
  transition: tranform 150ms ease-in-out, opacity 100ms ease-in-out;
}

.dropdown-open {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  position: static;
  transform: translateY(0);
}
