.button {
  background-color: #6c3baa;
  border-radius: 10px;
  border: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 15px;
}

.button:hover {
  background-color: #fae6fa;
  box-shadow: inset 0 0 0 2px #9900fa;
  color: #9900fa;
}

.button:active {
  transform: scale(0.95);
  background-color: #fcc2f2;
}

.removeBtn {
  background-color: #a91b0d;
}
.removeBtn:hover {
  background-color: #f2b2b7;
  color: #d21404;
  box-shadow: inset 0 0 0 2px #d21404;
}
